{% extends 'base.html.twig' %}

{% block title %}User Files{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{%  endblock %}

{% block body %}
<main class="Files">
    <h1>Your files:</h1>
    <div class="Files__content">
        {% for  no, file in files %}
            <div class="Files__content__item">
                <span class="Files__content__item--number">{{ no }}.</span>
                <span class="Files__content__item--filename">{{ file }}</span>
                <span class="Files__content__item--download">
                    <a href="{{ path('app_download', {'filename': fileInfo[no]['filename']}) }}">
                        <i class="fas fa-file-download"></i>
                    </a>
                </span>
                <span class="Files__content__item--size">{{ fileInfo[no]['size'] }}&nbsp;bytes</span>
                <span class="Files__content__item--owner">owner:{{ fileInfo[no]['fileOwner'] }}</span>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
