{% extends 'base.html.twig' %}

{% block title %}User Files{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{%  endblock %}

{% block body %}
<main class="Files">
    <h1>Your files:</h1>
    <div class="Files__content">
        {% for  no, file in files %}
            <div class="Files__content__item">
                <div class="Files__content__item--separator"></div>
                <span class="Files__content__item--number">{{ no }}</span>
                <span class="Files__content__item--filename">{{ file }}</span>
                <span class="Files__content__item--download">
                    <a class="Files__content__item--download" href="{{ path('app_download', {'filename': fileInfo[no]['filename']}) }}">
                        <i class="fas fa-file-download"></i>
                    </a>
                </span>
                <span class="Files__content__item--show">
                    <a class="Files__content__item--show" href="{{ path('app_displayFile', {'filename': fileInfo[no]['filename']}) }}">
                        <i class="fas fa-eye"></i>
                    </a>
                </span>
                <span class="Files__content__item--delete">
                    <a class="Files__content__item--delete" href="{{ path('app_deleteFile', {'filename': fileInfo[no]['filename']}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </span>
                <div class="Files__content__item--separator"></div>
                <div class="Files__content__item--separator"></div>
                <hr><hr>
                <p class="Files__content__item__box">
                    <span class="Files__content__item--size"><i class="fas fa-hockey-puck"></i>&nbsp;&nbsp; {{ fileInfo[no]['size'] }}&nbsp;bytes</span>
                    <span class="Files__content__item--owner"><i class="far fa-user"></i>&nbsp;&nbsp; {{ fileInfo[no]['fileOwner'] }}</span>
                </p>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
