<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Homepage{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <div id="panelButton" class="Panel__button">
        <i class="far fa-dot-circle"></i>
    </div>
    <div id="panel" class="Panel">
        <div class="Panel__status">
            user:&nbsp;
            {% if app.user is not null %}
                {{ app.user.email }}
            {% else %}
                not logged
            {% endif %}
        </div>
        <div class="">
            role:&nbsp;
            {% if app.user is not null %}
                {% for role in app.user.roles %}
                    {{ role }}
                {% endfor %}
            {% else %}
                N/A
            {% endif %}
        </div>
    </div>
    <div class="defaultIndex">
        <aside class="menu" id="aside">
            <div id="menu--icons" class="menu__icons">
                <div class="menu__icons__home">
                    <i id="home" class="fas fa-home"></i>
                </div>
                <div class="menu__icons__users">
                    <i id="users" class="fas fa-users"></i>
                </div>
                <div class="menu__icons__settings">
                    <i id="settings" class="fas fa-cogs"></i>
                </div>
                <div class="menu__icons__files">
                    <i id="files" class="fas fa-file"></i>
                </div>
                <div class="menu__icons__info">
                    <i id="info" class="fas fa-info"></i>
                </div>
            </div>
        </aside>
        <div id="homeSide" class="menuSide hidden">
            <ul>
                <li>
                    <a href="{{ path('homepage') }}">home</a>
                </li>
                <li>
                    <a href="">dashboard</a>
                </li>
            </ul>
        </div>
        <div id="usersSide" class="menuSide hidden">
            <ul>
                {% if app.user is null%}
                    <li>
                        <a href="{{ path('app_login') }}">log in</a>
                    </li>
                    <li>
                        <a href="{{ path('app_register') }}">register</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_logout') }}">log out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="settingsSide" class="menuSide hidden">
            <ul>
                <li>
                    <a href="">settings</a>
                </li>
            </ul>
        </div>
        {% if app.user is not null %}
        <div id="filesSide" class="menuSide hidden">
            <ul>
                <li>
                    <a href="{{ path('app_show_files') }}">files</a>
                </li>
            </ul>
        </div>
        {% endif %}
        {#
        <main class="content" id="main">

        </main>#}
    </div>


    {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
